header {
  margin-bottom:  20px;
  margin-left: auto;
  margin-right: auto;
  background-color:  rgb(244, 79, 79);
}

h1 {
  margin: 0;
  text-align: center;
  color: rgb(255, 255, 255);
}

body {
  margin: 0;
}

main {
  margin: 10px;
}

#parent {
  display: flex;
  justify-content: space-around;
}

.contents {
  border:solid 3px rgb(238, 204, 204) ; 
  flex-basis: 25%;
  padding: 10px 15px;
  margin: 20px 0;
  text-align: center;
}
.contents  p:nth-of-type(2)::first-letter {
  font-weight: bold;
  color: rgb(97, 206, 249);
}

h2 {
  font-size: 25px;
  border-bottom: dotted 3px rgb(236, 122, 122);
}
h2::before {
  content: "⚫︎";
  color: rgb(239, 111, 139);
}

p {
  margin: 0;
  font-size: 20px;
}

img {
  margin: 10px 0;
  width: 70%;
}

footer {
  background-color: rgb(244, 79, 79);
  margin: 0 auto;
  text-align: center;
}

a {
  font-size: 20px;
  color: rgb(255, 255, 255);
}
a:visited {
  color: rgb(193, 234, 251);
}
a:hover {
  color: rgb(245, 178, 168);
}

@media screen and  (max-width: 768px) {
  h2 {
    font-size: 30px;
  }
  p {
    font-size: 25px;
  }
  #parent {
    flex-direction: column;
  }
}